<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /trip_india/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /trip_india/index.html [L]
</IfModule>
